<link rel"stylesheet" href="styles.css"  rel="stylesheet" type="text/css" media="all">

<h2>Enter your sentence and the word you want to be counted!</h2>
<form action='result'>

  <div class="form-group">
    <label for="sentence">Please enter your sentence:</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
  </div>



  <div class="form-group">
    <label for="word">Please enter the word you want to count:</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>

  <button type="submit" class="btn">Count!</button>
</form>
