<!DOCTYPE html>
<html>
<head>
  <title>Make your word count-Count your word!</title>
  <h1>See how often a word is included in a sentence!</h1>
  <p>Yes,it is basically useless,but it is fun!</p>
  <link rel"stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
